#nav-about {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.70) 33%, rgba(206, 255, 45, 1) 36%, rgba(206, 255, 45, 1) 63%, rgba(255, 255, 255, 0.70) 66%);
}

hr {
  margin: 0% 2% 1% 2%;
  border: none;
  border-top: 1px solid #838383;
  height: 1px;
  background: none;
}

.div-text {
  font-size: 0.8rem;
  color: #838383;
  margin: 0 2% 0.75%;
}

#alfonso-yordi {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vh 0 12vh;
  box-sizing: border-box;
  text-align: center;
}

.alfonso-container {
  color: #838383;
}

.alfonso-photo {
  width: 45vh;
  max-width: 88vw;
  height: auto;
  object-fit: contain;
}

.alfonso-text {
  color: #838383;
  font-size: 1rem;
  line-height: 1.4;
}

.alfonso-text-mobile {
  display: none;
}

.social-links-alfonso {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 1.5rem 0;
}

.social-item-alfonso {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: inherit;
}

.arena {
  gap: 6px;
}

.instagram.linkedin {
  gap: 10px;
}

.social-item-alfonso img {
  width: 40px;
  height: auto;
}

.social-links-alfonso a {
  text-decoration: none;
  color: inherit;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  width: 100%;
  max-width: 96%;
  margin: 4vh auto;
}

.service {
  text-align: center;
}

.service img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 1rem;
}

.service h3 {
  font-family: "SuisseIntl";
  font-size: 1.5rem;
  color: #838383;
  margin: 0.8rem 0 0.6rem;
}

.service p {
  color: #838383;
  font-size: 1rem;
  line-height: 1.4;
  text-align: left;
}

#clients {
  padding: 8vh 0;
  overflow: hidden;
}

.marquee-single {
  --gap: 40px;
  --speed: 25s;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 120px;
  min-height: 180px;
  display: flex;
  align-items: center;
}

.marquee-single .track {
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
  padding-right: var(--gap);
  will-change: transform;
  animation: scroll-left var(--speed) linear infinite reverse;
}

@keyframes scroll-left {
  /* from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  } */
  from { transform: translateX(0); }
  to   { transform: translateX(-66.666666%); }   
}

.track img {
  opacity: 0.8;
  transition: opacity .3s ease;
  height: 140px;
}

.track img:hover {
  opacity: 1;
}

#our-office {
  min-height: 100vh;
  min-height: 98dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vh 0 0;
  box-sizing: border-box;
  text-align: center;
  color: #838383;
}

.office-container {
  max-width: 90%;
}

.office-photo {
  display: block;
  width: 45vh;
  max-width: 88vw;
  height: auto;
  object-fit: contain;
}

.office-photo-mobile {
  display: none;
}

.office-text {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 600px;
}

#yam-footer {
  color: #838383;
  padding: 0 0 0 1%;
  bottom: 0;
  font-size: 1rem !important
}

@media (max-width: 480px) {
  .separate {
    margin: 8% 0 4% 0;
  }

  .div-text {
    font-size: 0.75rem;
    margin: 0 5% 1rem;
  }

  #alfonso-yordi {
    padding: 0
  }

  #our-office {
    padding: 0
  }

  .office-photo {
    display: none;
  }

  .alfonso-photo,
  .office-photo-mobile {
    width: 88vw;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 2rem;
  }

  .office-photo-mobile {

    margin-top: 2rem;
  }

  .alfonso-text,
  .office-text {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .services-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 100vw;
    padding: 0 4vw;
    margin: 10% auto 14%;
    box-sizing: border-box;
  }

  .service h3 {
    font-size: 1.38rem;
  }

  .service p {
    font-size: 0.93rem;
    line-height: 1.48;
  }

  #clients {
    height: 44vh;
  }

  .marquee-single {
    height: 100px;
    min-height: 140px;
  }

  .marquee-single .track img {
    height: 48px;
  }

  header {
    padding-top: 50px;
  }

  .alfonso-photo {
    width: 90%;
    max-width: none;
  }

  .alfonso-text-mobile {
    display: block;
    color: #838383;
    font-size: 1rem;
    line-height: 1.4;
    padding: 0 5%;
    text-align: left;
  }

  .social-item-alfonso img {
    width: auto;
    height: 22px;
  }

  #alfonso-yordi {
    padding: 28% 0 0 0;
  }

  .alfonso-text {
    display: none;
  }

  .social-links-alfonso {
    margin: 2rem 0 2rem 0;
    display: none;
  }

  hr {
    margin: 0% 5% 1% 5%;
  }

  #services {
    padding: 0 5%;
  }

  .services-grid {
    gap: 8px;
    padding: 0;
  }

  .service h3 {
    font-size: 1.4rem;
    text-align: left;
  }

  .service p {
    font-size: 0.9rem;
    line-height: 1.35;
  }

  .service img {
    margin-bottom: 0;
  }

  .marquee-single .track img {
    height: 100px;
  }

  .marquee-single {
    --gap: 4px;
    height: 80px;
    min-height: 140px;
  }

  #clients {
    height: 15vh;
  }

  .alfonso-text,
  .office-text {
    font-size: 0.9rem;
    line-height: 1.35;
  }

  .office-container {
    padding: 25% 0 0 0;
  }

  .alfonso-text {
    text-align: left;
  }

  #yam-footer {
    color: #838383;
    padding: 0 0 2% 4%;
    font-size: 1rem !important;
    text-decoration: none !important;
  }
}